body{
    font-family: 'Slabo 27px', serif;
    font-weight:bold;
}

.tabSection{
display:flex;
justify-content: center;
margin:0 auto;
width:80%;
}
.gifTab,.movieTab{
    border:1px solid #dddd;
}

.gifBtn{
    margin-right:1em;
    min-width:5em;
}
#gif-input{
    text-transform: capitalize;
}

.topSection{
    position: fixed;
    top: 0;
    width:80%;
    margin: 0 0 0 -40%;
    left:50%;
z-index:999;
background-color:#eaecef;
padding:1em;
border-radius:1em;
}
#btnSection{
    width:80%;
    padding:0;
    border-top:4px double #dddd;
    border-bottom:4px double #dddd;
}
.mainSection{
z-index:5;
    width:80%;
    padding:0;
    height:100%;
    margin-top:15em;
  
}
.formSection{
    width:80%;
    margin:0 auto;
}

.gifSection{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    min-height:30em;
   margin-top: 1em;
   background-color:#ffffff;
}
.favStarColor{
color:yellow;
}

#favStar{
    position: absolute;
    left: 13em;
    top: 1em;
    
}

#favStar:hover,#favLink:hover{
    cursor: pointer;
}

.card-body{
    position:relative;
    padding:.5em;
}

.card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: scroll;
    margin-bottom: 0 !important;
}
.mainCard{
    height:210px;
}
.mainCard:hover{
    cursor: pointer;
}
.imgCard{
    width:100%;
height:100%;
}

.outterCard{
    margin-top:1em;
    border:1px solid grey;
    width:15em;
    height:100%;
}

.nextBtn{
    float:left;
}

.naImg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    height: 100%;
    margin: 0 !important;
    background-color:#6F6F6F;
    
}

a{
    display:inline-block;
    height:100%;
    width:100%;
   
}

