body{
    font-family: 'Slabo 27px', serif;
    font-weight:bold;
}

.tabSection{
display:flex;
justify-content: center;
margin:0 auto;
    width:80%;
}
.gifTab,.movieTab{
    border:1px solid #dddd;
}

.gifBtn{
    margin-right:1em;
    min-width:5em;
}

#btnSection{
    width:100%;
    padding:0;
    border-top:4px double #dddd;
    border-bottom:4px double #dddd;
}
.mainSection{
    width:80%;
    padding:0;
    height:100%;
    top:10;
}

.gifSection{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    min-height:30em;
   margin-top: 1em;
}
.favStarColor{
color:yellow;
}

.card-body{
    padding:.5em;
}

.card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: scroll;
    margin-bottom: 0 !important;
}
.mainCard{
    height:210px;
}
.mainCard:hover{
    cursor: pointer;
}
.imgCard{
    width:100%;
height:100%;
}

.outterCard{
    margin-top:1em;
    border:1px solid grey;
    width:15em;
    height:100%;
}

.nextBtn{
    float:left;
}

.naImg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    height: 100%;
    margin: 0 !important;
    background-color:#6F6F6F;
}

a{
    display:inline-block;
    height:100%;
    z-index:9999;
}